<footer class="footer-border">
  <div class="footer-wrapper">
    <div class="footer-container">
      <nav class="footer-navig">
        <a class="logo-footer" href="./index.html">yachtjet</a>
        <ul class="nav-footer">
          <li class="nav-footer-item">
            <a href="#about"
              ><button class="nav-footer-link btn-nav" type="button">
                About
              </button></a
            >
          </li>
          <li class="nav-footer-item">
            <a href="#our-yachts"
              ><button class="nav-footer-link btn-nav" type="button">
                Yachts
              </button></a
            >
          </li>
          <li class="nav-footer-item">
            <a href="#reviews"
              ><button class="nav-footer-link btn-nav" type="button">
                Reviews
              </button></a
            >
          </li>
        </ul>
      </nav>
      <address class="address-footer">
        <ul class="address-icon-footer">
          <li class="address-footer-icon">
            <a
              class="address-footer-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="icon-color" width="24" height="24">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="address-footer-icon">
            <a
              class="address-footer-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="icon-color" width="24" height="24">
                <use href="./img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="address-footer-icon">
            <a
              class="icon address-footer-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="icon-color" width="24" height="24">
                <use href="./img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>

    <p class="text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>

    <div class="policy-text">
      <span class="">2023. Yacht Adventures</span>
      <span class="pol-text">Privacy Policy</span>
    </div>
  </div>
</footer>
