<header class="header-border">
  <div class="container header-container">
    <nav class="header-navig">
      <a class="logo-text" href="./index.html">yachtjet</a>
      <ul class="nav-text">
        <li class="nav-text-item">
          <a href="#about-us" class="nav-text-link btn-brd ntl">
            About
          </a>
        </li>
        <li class="nav-text-item">
          <a href="#our-yachts" class="nav-text-link btn-brd">
            Yachts
          </a>
        </li>
        <li class="nav-text-item">
          <a href="#reviews" class="nav-text-link btn-brd">
            Reviews
          </a>
        </li>
      </ul>
    </nav>
    <address class="address">
      <ul class="address-icon">
        <li class="address-text-icon">
          <a class="address-text-link" href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="icon-color" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="address-text-icon">
          <a class="address-text-link" href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="icon-color" width="24" height="24">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="address-text-icon">
          <a class="icon address-text-link" href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="icon-color" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button class="mob-knob-btn" type="button" data-menu-open>
      <svg class="mob-knob-icon" width="28" height="28">
        <use href="./img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>