<section class="our-yachts-section">
  <div class="container">
    <h2 id="our-yachts" class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/Desktop_big/our-yachts-image-1.jpg    1x,
              /img/Desktop_big/our-yachts-image-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/Desktop_small/our-yachts-image-1-small.jpg    1x,
              /img/Desktop_small/our-yachts-image-1-small@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/Tablet/our-yachts-image-1-tablet.jpg    1x,
              /img/Tablet/our-yachts-image-1-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/Mobile/our-yachts-image-1-mob.jpg    1x,
              /img/Mobile/our-yachts-image-1-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/Mobile/our-yachts-image-1-mob.jpg"
            alt="Photo of yachts"
            width="334"
            height="240"
            class="our-yachts-img"
          />
        </picture>
        <div class="our-yachts-card">
          <h3 class="our-yachts-card-title">ARROW</h3>
          <p class="our-yachts-card-text">LUXURY YAHTS</p>
        </div>
        <div class="our-yachts-features">
          <ul class="our-yachts-features-list">
            <li class="our-yachts-features-item">LENGTH</li>
            <li class="our-yachts-features-item">BUILDER</li>
            <li class="our-yachts-features-item">BUILT</li>
            <li class="our-yachts-features-item">GUESTS</li>
            <li class="our-yachts-features-item">PRICE</li>
          </ul>
          <ul class="our-yachts-features-points">
            <li class="our-yachts-features-text">48m(155ft)</li>
            <li class="our-yachts-features-text">Admiral</li>
            <li class="our-yachts-features-text">2021</li>
            <li class="our-yachts-features-text">11 in 5 cabins</li>
            <li class="our-yachts-features-text">€33,500,000</li>
          </ul>
        </div>
      </li>

      <li class="our-yachts-item hide-tablet">
        <picture>
          <source
            srcset="
              /img/Desktop_big/our-yachts-image-2.jpg    1x,
              /img/Desktop_big/our-yachts-image-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/Desktop_small/our-yachts-image-2-small.jpg    1x,
              /img/Desktop_small/our-yachts-image-2-small@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/Tablet/our-yachts-image-2-tablet.jpg    1x,
              /img/Tablet/our-yachts-image-2-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/Tablet/our-yachts-image-2-tablet.jpg"
            alt="Photo of yachts"
            width="334"
            height="240"
            class="our-yachts-img"
          />
        </picture>
        <div class="our-yachts-card">
          <h3 class="our-yachts-card-title special">BENETTI OASIS 40M BO122</h3>
          <p class="our-yachts-card-text">LUXURY YAHTS</p>
        </div>
        <div class="our-yachts-features">
          <ul class="our-yachts-features-list">
            <li class="our-yachts-features-item">LENGTH</li>
            <li class="our-yachts-features-item">BUILDER</li>
            <li class="our-yachts-features-item">BUILT</li>
            <li class="our-yachts-features-item">GUESTS</li>
            <li class="our-yachts-features-item">PRICE</li>
          </ul>
          <ul class="our-yachts-features-points">
            <li class="our-yachts-features-text">41m (133ft)</li>
            <li class="our-yachts-features-text">Benetti</li>
            <li class="our-yachts-features-text">2025</li>
            <li class="our-yachts-features-text">10 in 5 cabins</li>
            <li class="our-yachts-features-text">€23,210,000</li>
          </ul>
        </div>
      </li>

      <li class="our-yachts-item hide-desktop">
        <picture>
          <source
            srcset="
              /img/Desktop_big/our-yachts-image-3.jpg    1x,
              /img/Desktop_big/our-yachts-image-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/Desktop_small/our-yachts-image-3-small.jpg    1x,
              /img/Desktop_small/our-yachts-image-3-small@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/Desktop_small/our-yachts-image-3-small.jpg    1x,
              /img/Desktop_small/our-yachts-image-3-small@2x.jpg
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/Desktop_small/our-yachts-image-3-small.jpg"
            alt="Photo of yachts"
            width="334"
            height="240"
            class="our-yachts-img"
          />
        </picture>
        <div class="our-yachts-card">
          <h3 class="our-yachts-card-title">BELLE ANNA</h3>
          <p class="our-yachts-card-text">LUXURY YAHTS</p>
        </div>
        <div class="our-yachts-features">
          <ul class="our-yachts-features-list">
            <li class="our-yachts-features-item">LENGTH</li>
            <li class="our-yachts-features-item">BUILDER</li>
            <li class="our-yachts-features-item">BUILT</li>
            <li class="our-yachts-features-item">GUESTS</li>
            <li class="our-yachts-features-item">PRICE</li>
          </ul>
          <ul class="our-yachts-features-points">
            <li class="our-yachts-features-text">50m(155ft)</li>
            <li class="our-yachts-features-text">ISA</li>
            <li class="our-yachts-features-text">2012</li>
            <li class="our-yachts-features-text">12 in 6 cabins</li>
            <li class="our-yachts-features-text">€21,000,000</li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="our-yachts-rental-link" href="#rent-yacht">Yacht rental</a>
  </div>
</section>
