/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common.css');
:root {
  --font-family: 'Inter', sans-serif;
  --color-dark: #040306;
  --color-dark-blue: #0e1823;
  --color-dark-green: #1b414b;
  --color-light: #fbfbfb;
}
