/* mobile */

/* header */
.header-border {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  height: 42px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 335px;
  height: 42px;
  border: 1px solid #fbfbfb;
  background: #fbfbfb;
}

.nav-text,
.address {
  display: none;
}

.logo-text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding: 12px 0;
  display: block;
}

.mob-knob-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mob-knob-icon {
  display: block;
  stroke: #1b414b;
}

@media screen and (max-width: 374px) {
  .header-container {
    min-width: 0;
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  /* Header */
  .mob-knob-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .header-border {
    top: 32px;
    height: 48px;
  }

  .header-container {
    width: 704px;
    height: 48px;
  }

  .nav-text {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .header-navig {
    display: flex;
    align-items: center;
  }

  .logo-text {
    font-size: 20px;
    margin-right: 109px;
  }

  .nav-text-link {
    position: relative;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 25px 15px 24px;
  }

  .btn-brd {
    border: none;
    background-color: transparent;
    margin: 4px 0;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
  }

  .btn-brd.ntl {
    background: #1b414b;
  }

  .btn-brd:hover,
  .btn-brd:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #1b414b;
    border: none;
  }

  .address-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .icon-color {
    fill: #1b414b;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-color:hover,
  .icon-color:focus {
    fill: #062730;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 1080px;
  }

  .logo-text {
    margin-right: 296px;
  }

  .btn-brd.ntl {
    background: rgba(27, 65, 75, 0.5);
  }
  .btn-brd.ntl:hover,
  .btn-brd.ntl:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #1b414b;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1240px;
  }

  .logo-text {
    margin-right: 375px;
  }
}
