.hero {
    /* background: linear-gradient(360deg,
            rgba(17, 19, 31, 0.8) 15.05%,
            rgba(17, 19, 31, 0.8) 75.3%,
            rgba(17, 19, 31, 0.8) 98.27%),
        url("/img/Hero/mobile/image\ 2.jpg"); */
        background-image: url("/img/Hero/mobile/image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 812px;
    padding-top: 260px;

}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-info {
    color: var(--color-light);
}

.hero-title {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-light);
}

.hero-slogan {
    /* font-family: var(--font-family); */
    font-weight: 300;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    margin-top: 24px;
}

.hero-button {
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-dark-green);
    border-radius: 12px;
    padding: 14px 32px;
    margin-top: 40px;
    border: transparent;
    align-self: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    background-color: var(--color-light);
    color: var(--color-dark-green);
    cursor: pointer;

}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 280px;
    }

    .hero-text-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 704px;
    }

    .hero-title {
        font-size: 70px;
    }

    .hero-slogan {
        font-size: 16px;
        width: 597px;
        align-self: center;
    }

    .hero-button {
        margin-top: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        padding-top: 235px;
    }

    .hero-text-info{
        width: 1001px;
    }

    .hero-title {
        font-size: 80px;
    }

    .hero-slogan {
        font-size: 16px;
        width: 597px;
        align-self: center;
    }
}

/* @media screen and (min-width: 1440px) {
    .hero {}

    .hero-title {}

    .hero-slogan {}
} */

/* MOBILE */
@media screen and (max-width: 375px) and (min-resolution: 192dpi) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%
                ),
            url("/img/Hero/mobile/image\ 2@2x.jpg"); */
        background-image: url("/img/Hero/mobile/image@2x.jpg");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 812px;
    }
}

/* TODO: add background image for tablet and desktop */


@media screen and (min-width: 376px) and (max-width: 767px) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/tablet/image\ 2.jpg"); */
            background-image: url("/img/Hero/tablet/image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 812px;
    }
}

@media screen and (min-width: 376px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
                url("/img/Hero/tablet/image\ 2.jpg"); */
            background-image: url("/img/Hero/tablet/image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 812px;
    }
}


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/tablet/image\ 2.jpg"); */
            background-image: url("/img/Hero/tablet/image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 962px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/tablet/image\ 2@2x.jpg"); */
            background-image:url("/img/Hero/tablet/image@2x.jpg");
            
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 962px;
    }
}


/* DESKTOP-SMALL */
@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/desktop-small/image\ 1.jpg"); */
            background-image: url("/img/Hero/desktop-small/image.jpg");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 800px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) and (min-resolution: 192dpi) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/desktop-small/image\ 1@2x.jpg"); */
            background-image: url("/img/Hero/desktop-small/image@2x.jpg");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 800px;
    }
}


/* DESKTOP-BIG */
@media screen and (min-width: 1440px) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/desktop-big/image\ 1.jpg"); */
            background-image: url("/img/Hero/desktop-big/image.jpg");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 800px;
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero {
        /* background: linear-gradient(360deg,
                rgba(17, 19, 31, 0.8) 15.05%,
                rgba(17, 19, 31, 0.8) 75.3%,
                rgba(17, 19, 31, 0.8) 98.27%),
            url("/img/Hero/desktop-big/image\ 1@2x.jpg"); */
            background-image: url("/img/Hero/desktop-big/image@2x.jpg");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 800px;
    }
}