.mobile-menu {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  padding: 16px 20px 40px 20px;
}

.mobile-menu.is-open {
  overflow: auto;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-first {
  border-radius: 8px;
  border: none;
  background-color: var(--color-light);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.modal-text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: var(--color-dark-green);
}

.modal-close-bth-icon {
  width: 28px;
  height: 28px;
  fill: var(--color-dark-green);
  padding: 0;
}

.modal-close-bth {
  background-color: var(--color-light);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.modal-second {
  margin-top: 201px;
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.modal-nav-item {
  border-radius: 15px;
  border: none;
  font-size: 16px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  width: 91px;
  margin-bottom: 4px;
  background: rgba(27, 65, 75, 0.5);
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.modal-nav-item-one {
  background: var(--color-dark-green);
  font-family: var(--font-family);
  color: var(--color-light);
}

.modal-nav-item:hover,
.modal-nav-item:focus {
  background: var(--color-light);
  color: var(--color-dark-green);
}

.modal-thirt {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.modal-social-item {
  display: inline-block;
  margin: auto;
}

.modal-social-icon {
  fill: var(--color-light);
}

.modal-social-icon:hover,
.modal-social-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
